<div class="scorecard_popup">
    <div class="popup_header">
        <h1 class="titles">Scorecard:</h1>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true">close</mat-icon>
    </div>
    <form action="">
        <table class="scorecard_table">
            <tr>
                <td>
                    <label class="label_style" for="">Name</label>
                </td>
                <td>
                    <select name="" id="" style="width:100px;">
                        <optgroup>
                            <option  value="" >Test</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Departemnt</label>
                </td>
                <td>
                    <input class="scorecard_inputs" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Media coverage</label>
                </td>
                <td>
                    <input class="scorecard_inputs" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Disipline</label>
                </td>
                <td>
                    <input class="scorecard_inputs" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Contribution</label>
                </td>
                <td>
                    <input class="scorecard_inputs" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Departement Points</label>
                </td>
                <td>
                    <input class="scorecard_inputs" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Attendance at meetings and actions</label>
                </td>
                <td>
                    <input class="scorecard_inputs" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Month</label>
                </td>
                <td>
                    <input class="scorecard_inputs" type="date">
                </td>
            </tr>
        </table>
        <div class="center_button">
            <button type="submit" class="single_button popup_button">Submit</button>
        </div>
    </form>
</div>
