.modal-body button {
    padding:5px;
    width:90px;
    border:none;
    color:white;
    border-radius:4px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
    background-color: #137333;
}
.modal-body button:hover {
    scale: 1.08;
    outline: #34a853;
}
.modal-body button:active {
    scale: 0.95;
}
