.banner-1 {
    margin:15px;
    border-radius: 16px;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    background-image: url(../../../../assets/images/banner1.jpg);
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover;
}
.banner-2 {
    margin:15px;
    border-radius: 16px;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    background-image: url(../../../../assets/images/banner3.png);
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover;
}
.info-1 {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#ea8600,#fbbc04);
    color: white;
    transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
    transition: transform 0.5s ease-out;
} 
.info-2 {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#1a5bbc,#4285f4);
    transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
    transition: transform 0.5s ease-out;
    color: white;
} 
.info-1:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    background-image: url(../../../../assets/images/banner1.jpg);
    opacity: 0.25;
    transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
    transition: transform 0.5s ease-out;
}
.banner-1:hover .info-1,
.banner:hover .info-1:before,.banner-2:hover .info-2,.banner-3:hover .info-3 {
    transform: translateY(0) translateZ(0);
}
.title {
    margin: 0;
    padding: 24px;
    font-size: 40px;
    line-height: 1;
    color: white;
}
.description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
}
.news-media {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.banner-3 {
    margin:15px;
    border-radius: 16px;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    background-image: url(../../../../assets/images/banner2.jpg);
    min-height: 500px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-size: cover;
}
.info-3 {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#b31412,#ea4335);
    transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
    color: white;
    transition: transform 0.5s ease-out;
}
.news_title{
    padding: 50px;
    margin-top: 50px;
    text-align:center;
    font-size:60px;
    font-weight:500;
}
.learn-more {
    padding:20px;
    color:white;
    font-size: 20px;
    border:none;
    border-radius: 12px;
    background-color: #34a853;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin-top: 80px;
}
.learn-more:hover {
    color: white;
    transform: translateY(-8px);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.301);
    border: 1px solid #137333;
    border-radius: 16px;
}
.news_button_center{
    display:flex;
    justify-content: center;
    margin-bottom:100px;
}
@media screen and (max-width:1024px){
    .news-media {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .banner-1, .banner-2, .banner-3{
        margin: 40px 0 0 0;
    }
}
@media screen and (max-width:320px){
    .banner-1 {
        border-radius: 16px;
        margin: 25px 0 0 0;
        width: 400px;
        max-width: 100%;
        background-image: url(../../../../assets/images/banner1.jpg);
        min-height: 500px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        background-size: cover;
    }
    .banner-2 {
        border-radius: 16px;
        margin: 25px 0 0 0;
        width: 400px;
        max-width: 100%;
        background-image: url(../../../../assets/images/banner3.png);
        min-height: 500px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        background-size: cover;
    }
    .banner-3 {
        border-radius: 16px;
        margin: 25px 0 0 0;
        width: 400px;
        max-width: 100%;
        background-image: url(../../../../assets/images/banner2.jpg);
        min-height: 500px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        background-size: cover;
    }
}