<section style="min-height:200px" id="news">
    <h1 class="news_title">News</h1>
    <div class="news-media">
        <div class='banner-1' >
            <div class='info-1'>
                <h2 class='title'>Introduction to Crypto</h2>
                <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis,
                    velit
                    porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio
                    ipsa,
                    est dolorem fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis,
                    velit
                    porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio
                    ipsa,
                    est dolorem fugit.</p>
            </div>
        </div>
        <div class='banner-2' >
            <div class='info-2 '>
                <h2 class='title'>Google Magazine</h2>
                <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis,
                    velit
                    porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio
                    ipsa,
                    est dolorem fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis,
                    velit
                    porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio
                    ipsa,
                    est dolorem fugit.</p>
            </div>
        </div>
        <div class='banner-3' >
            <div class='info-3'>
                <h2 class='title'>Formation L</h2>
                <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis,
                    velit
                    porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio
                    ipsa,
                    est dolorem fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis,
                    velit
                    porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio
                    ipsa,
                    est dolorem fugit.</p>
            </div>
        </div>
    </div>
    <div class="news_button_center">
        <a href="https://www.instagram.com/isetch_google_club/" target="_blank" class="learn-more">Learn More</a>
    </div>
</section>