<div class="add_member_popup">
    <div class="popup_header">
        <h1 class="titles">Member:</h1>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true">close</mat-icon>
    </div>
    <form [formGroup]="newMember" *ngIf="departs!=undefined"  method="post"  (ngSubmit)="addMember(depart.value)">
        <table class="add_member_table">
            <tr class="add_member_tr">
                <td>
                    <label for="" >Name</label>
                </td>
                <td>
                    <input class="add_member_input" formControlName="name" type="text">
                </td>
            </tr>
            <tr class="add_member_tr">
                <td>
                    <label for="">CIN</label>
                </td>
                <td>
                    <input class="add_member_input" formControlName="cin" type="number">
                </td>
            </tr>
            <tr class="add_member_tr">
                <td>
                    <label for="">Departement</label>
                </td>
                <td>
                    <select #depart  name="" id="">
                        <optgroup>
                            <option *ngFor="let d of departs" [value]="d.id">{{d.nameDep}}</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr class="add_member_tr">
                <td>
                    <label for="">Phone</label>
                </td>
                <td>
                    <input class="add_member_input" formControlName="phone" type="phone">
                </td>
            </tr>
            <tr class="add_member_tr">
                <td>
                    <label for="">e-mail</label>
                </td>
                <td>
                    <input class="add_member_input" formControlName="mail" type="email">
                </td>
            </tr>
            <tr class="add_member_tr">
                <td>
                    <label for="">Birthday</label>
                </td>
                <td>
                    <input class="add_member_input" formControlName="birthday" type="date">
                </td>
            </tr>
            <tr class="add_member_tr">
                <td>
                    <label for="">Photo</label>
                </td>
                <td>
                    <input class="add_member_input" formControlName="pdp" type="file">
                </td>
            </tr>
        </table>
        <div class="center_button">
            <input type="submit" value="Add Member" class="single_button" >
        </div>
    </form>
</div>