<div class="content">
    <div class="content_img_details">
        <img src="../../../../../assets/images/logo.png" alt="" class="content_img">
        <div class="content_details">
            <h4>Assignment name</h4>
            <h5>Who created it</h5>
            <h5>Deposit Date</h5>
            <h5>Details</h5>
        </div>
    </div>
    <div class="content_component_points">
        <form action="" class="content_component_form">
            <label for="">points:</label>
            <input type="number" class="content_component_input">
            <button type="submit" class="content_form_button">Submit</button>
        </form>
    </div>
</div>


