<div class="shared_popup_body">
    <div class="popup_header">
        <h2 class="shared_popup_title">Modify</h2>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true" style="margin-top:-80px;">close</mat-icon>
    </div>
    <form action="" >
        <div class="shared_form_parts">
            <label for="">Name</label>
            <input type="text">
        </div>
        <div class="shared_form_parts">
            <label for="">Date</label>
            <input type="date">
        </div>
        <div class="shared_form_parts">
            <label for="">Departement</label>
            <select id="Dep" name="Departement">
                <option value="Dev">Dev</option>
                <option value="Media">Media</option>
                <option value="Both">Both</option>
            </select>
        </div>
        <div class="shared_form_parts">
            <label for="">Image</label>
            <input type="file">
        </div>
        <div class="shared_form_parts_wtextarea">
            <label for="">Details</label>
            <textarea name="" id="" cols="30" rows="20" style="height:120px;"></textarea>
        </div>
        <div class="center_button">
            <button class="single_button shared_form_button">Submit</button>
        </div>
    </form>
</div>