<div class="shared_popup_body">
    <h2 class="shared_popup_title">Modify</h2>
    <form action="" >
        <div class="shared_form_parts">
            <label for="">Name</label>
            <input type="text">
        </div>
        <div class="shared_form_parts">
            <label for="">Date</label>
            <input type="date">
        </div>
        <div class="shared_form_parts">
            <label for="">Image</label>
            <input type="file">
        </div>
        <div class="shared_form_parts_wtextarea">
            <label for="">Details</label>
            <textarea name="" id="" cols="30" rows="20" style="height:120px;"></textarea>
        </div>
        <div class="center_button">
            <button class="single_button shared_form_button">Submit</button>
        </div>
    </form>
</div>