<footer class="footer-user">
    <div class=" col-sm-12">
        <div class="d-flex justify-content-around   ">
            <a href=""><img src="assets/icons/facebook.png" alt="" class="icon"></a>
            <a href=""><img src="assets/icons/linkedin.png" alt="" class="icon"></a>
            <a href=""><img src="assets/icons/twitter.png" alt="" class="icon"></a>
        </div>
    </div>
    <div class="d-flex col-12 justify-content-center">
        <h2><a href="">Report a problem</a></h2>
    </div>
    <div class="d-flex justify-content-center p-4">
        <p>Made with love by <a href="https://www.facebook.com/louay.tarchoun.9"  class="yassin" target="_blank">Louay Tarchoun</a> & <a href="https://www.facebook.com/8I93f/" class="yassin" target="_blank">Riahi Yassin</a>
        </p>
    </div>
</footer>