<div class="topbar">
    <div class="toggle">
        <i class="bi bi-list-task" style="font-size: 30px;position:relative;top: 0px;"></i>

    </div>
    <div>
        <h2 id="a"><span id="c1">G</span><span id="c1">O</span><span id="c1">O</span><span
                id="c1">G</span><span id="c1">L</span><span id="c1">E</span>
            <span></span> <span id="c1">C</span><span id="c1">L</span><span id="c1">U</span><span
                id="c1">B</span>
        </h2>

    </div>
    <div class=" ti">
        <h2 class="hover-underline-animation">Welcome Back HR</h2>
    </div>
</div>