<section id="about-p" style="padding:0px;margin:0px;">
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="z-index: 200;"><path fill="#1a5bbc" fill-opacity="1" d="M0,288L80,272C160,256,320,224,480,176C640,128,800,64,960,58.7C1120,53,1280,107,1360,133.3L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    <span class="anim"></span>
    <h1 class="about_title">About US</h1>
    <div class="about_information_container">
        <div class="about_card">
            <h1 class="about_card_title">hi there,</h1>
            <p>iset.ch google club is an it university club based in higher institut of technological studies of charguia
            </p>
        </div>
        <div class="about_card">
            <h2 class="about_card_title">Establichment</h2>
            <p class="about_card_date">10-03-2014</p>
            <p>Our club managed to stay active since its creation and passed through a lot of challenges</p>
        </div>
        <div class="about_card">
            <h2 class="about_card_title">Our work</h2>
            <p >Our mission is to spread knwoledge by making content with the tunisian dialect, listed below are some of the most representive work we've done lately. . . </p>
        </div>
    </div>
    
</section>
