<div class="navigation">
    <ul class="ul_style_nav">
        <li class="li_style_nav">
            <a class="a_style" href="#">
                <span class="icond">
                    <img src="assets/imgs/Untitled__2_-removebg-preview.png" width="30px" height="30px">
                </span>
                <span class="titled">Isetch Google Club</span>
            </a>
        </li>

        <li class="li_style_nav hovered nav-links">
            <a class="a_style" href="#">
                <span class="icond"><i class="bi bi-house"
                        style="font-size: 30px;position:relative;top: -7px;"></i>
                </span>
                <span class="titled">Dashboard</span>
            </a>
        </li>

        <li class="li_style_nav">
            <a class="a_style" href="content.html">
                <span class="icond">
                    <i class="bi bi-file-earmark-richtext"
                        style="font-size: 30px;position:relative;top: -7px;"></i>
                </span>
                <span class="titled">Content</span>
            </a>
        </li>
        <li class="li_style_nav">
            <a class="a_style" href="#membre">
                <span class="icond">
                    <i class="bi bi-people-fill" style="font-size: 30px;position:relative;top: -7px;"></i>
                </span>
                <span class="titled">Members</span>
            </a>
        </li>
        <li class="li_style_nav">
            <a class="a_style" href="events.html">
                <span class="icond">
                    <i class="bi bi-calendar2-event" style="font-size: 30px;position:relative;top: -7px;"></i>

                </span>
                <span class="titled">Events</span>
            </a>
        </li>
        <li class="li_style_nav" id="modal-btnS" style="cursor:pointer">
            <a class="a_style">
                <span class="icond">
                    <i class="bi bi-bar-chart-line-fill"
                        style="font-size:30px;position:relative;bottom:10%;"></i>
                </span>
                <span class="titled">Scorecard</span>
            </a>
        </li>
        <li class="li_style_nav" >
            <a class="a_style" href="tasks.html">
                <span class="icond">
                    <i class="bi bi-file-earmark-diff" style="font-size:30px;position:relative;bottom:10%;"></i>
                </span>
                <span class="titled">Tasks</span>
            </a>
        </li>



        <li class="li_style_nav" id="myBtn">
            <a class="a_style">
                <span class="icond">
                    <i class="bi bi-lock" style="font-size:30px;position:relative;bottom:15%;"></i>
                </span>
                <span class="titled">Password</span>
            </a>
        </li>

        <li class="li_style_nav" id="sign" style="cursor: pointer;">
            <a class="a_style" href="#">
                <span class="icond">
                    <i class="bi bi-box-arrow-left" style="font-size:30px;position:relative;bottom:15%;"></i>
                </span>
                <span class="titled">Sign Out</span>
            </a>
        </li>

    </ul>
</div>
