<div class="shared_popup_body">
    <div class="popup_header">
        <h2 class="shared_popup_title">Add</h2>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true" style="margin-top:-80px;">close</mat-icon>
    </div>
    <form action="" [formGroup]="newEvent" (ngSubmit)="addEvent()">
        <div class="shared_form_parts">
            <label for="">Name</label>
            <input type="text" formControlName="nameEvent">
        </div>
        <div class="shared_form_parts">
            <label for="">Date</label>
            <input type="date" formControlName="dateEvent">
        </div>
        <div class="shared_form_parts">
            <label for="">Departement</label>
            <select id="Dep" name="Departement">
                <option value="Dev">Dev</option>
                <option value="Media">Media</option>
                <option value="Both">Both</option>
            </select>
        </div>
        <div class="shared_form_parts">
            <label for="">Image</label>
            <input type="file">
        </div>
        <div class="shared_form_parts_wtextarea">
            <label for="">Details</label>
            <textarea name="" id="" formControlName="description" cols="30" rows="20" style="height:120px;"></textarea>
        </div>
        <div class="center_button">
            <button class="single_button shared_form_button">Submit</button>
        </div>
    </form>
</div>















<!--<div class="main_popup" style="width:200px;">
    <h1 class="titles">Add </h1>
    <form action="" class="popup_table" >
        <table  >
            <tr>
                <td>
                    <label for="">Name</label>
                </td>
                <td>
                    <input  type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label  for="">Date</label>
                </td>
                <td>
                    <input  type="date">
                </td>
            </tr>
            <tr>
                <td>
                    <label  for="">Image</label>
                </td>
                <td>
                    <input  type="file">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Details</label>
                </td>
                <td>
                    
                    <textarea name="" id="" cols="30" rows="10" class="popup_textarea"></textarea>
                </td>
            </tr>
        </table>
    </form>
    <div class="center_button">
        <button class="single_button">Submit</button>
    </div>
</div>-->