<div class="login_container">
    <h1 class="login_title">Login</h1>
    <form action="" class="login_form">
        <label for="">Username</label>
        <input class="login_form_input" type="text" name="" id="" placeholder="your username">
        <label for="">Password</label>
        <input class="login_form_input" type="text" name="" id="" placeholder="your Password">
        <div class="center_button">
            <input type="submit" name="" id="" class="submit_button">
        </div>
    </form>
</div>