<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered center_form">
    <div class="modal-content">
        <div class="modal-body">
            <h2 class="login_title">Login</h2>
            <form  class="login_form" [formGroup]="loginForm" (ngSubmit)="login();" method="post">
            <div>
                <p>Username</p>
                <input type="text" formControlName="username" id="email" placeholder="Type your username">
                <div id="wrong-email"></div>
                <p>Password</p>
                <input type="password" id="password" formControlName="password"  placeholder="Type your password">
                <div id="wrong-pass"></div>
            </div>
            <input type="submit">
            <div class="d-flex justify-content-center pt-5 ">
                <a href="" class="yassin ">Report a problem</a>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

