<div class="profile_container">
    <div class="offcanvas-header">
        <div class="profile_header_style">
            <img [src]="image" alt="" id="profile_pic" class="user-profile">
            <div>
                <h4>{{currentUser.fullname}}</h4>
                <h5>{{currentUser.role}}</h5>
            </div>
    
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1  mb-5 align profile_ul">
            <li class="nav-item d-flex align-items-center active-page mb-3 profile_li">
                <img src="../../../../assets/icons/dashboard.png" alt="" class="icon-user">
                <a class="nav-link " aria-current="page" routerLink="user">Dashboard</a>
            </li>
            <li class="nav-item d-flex align-items-center mb-3 profile_li">
                <img src="../../../../assets/icons/to-do-list.png" alt="" class="icon-user">
                <a class="nav-link active" aria-current="page" routerLink="todolist">To do list</a>
            </li>
            <li class="nav-item d-flex align-items-center mb-3 profile_li">
                <img src="../../../../assets/icons/leaderboard.png" alt="" class="icon-user">
                <a class="nav-link active" aria-current="page" routerLink="leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item d-flex align-items-center  mb-3 profile_li">
                <img src="../../../assets/icons/event-nav.png" alt="" class="icon-user">
                <a class="nav-link " aria-current="page" routerLink="events">Events</a>
            </li>
            <li class="nav-item d-flex align-items-center mb-3 profile_li">
                <img src="../../../../assets/icons/settings.png" alt="" class="icon-user">
                <a class="nav-link active" aria-current="page" routerLink="settings">Settings</a>
            </li>
    
        </ul>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-danger" type="submit"
                style="height:50px;width: 120px;align-self: flex-end;">Log Out</button>
        </div>
    </div>
</div>