<div id="my-modal1" class="modal1">
    <div class="modal-content1">


        <div class="modal-header">

            <span class="close1" style="color:white">&times;</span>
            <h2><img src="assets/imgs/icon.png" width="30px" height="30px" alt="" id="iconh"
                    style="top: 17px;"></h2>

        </div>

        <div class="modal-body1">
            <div style="display: grid;place-items:  center;">
                <h2 class="titleHelp1" style=" display: flex; justify-content: center;">Sign
                    out ?</h2>
            </div>


            <div style=" display: grid;place-items: center;">
                <h3 class="titleHelp">Are you sure That you want to sign Out ?</h3>
            </div>
        </div><br><br><br><br><br><br><br><br><br>
        <div class="modal-footer">




            <a href="Google-Club-Website-V2-master/index.html" class="a_style btn1 mt-4" id="s1">Sure !</a>
            <a href="#" class="btn1 mt-4" id="s1" class="btns"
                onclick="document.getElementById('my-modal1').style.display='none';">No</a>

        </div><br><br><br>
    </div>
</div>