<div class="section"><a id="membre"></a>
    <div style="display:flex;justify-content: space-between;">
        <button id="delete_member" class="buttonD del-mod-1">Delete</button>
        <button id="modify_member" class="buttonD del-mod-2">Modify</button>
    </div>
    <h1 class="h1_style2" id="tm">Member Card</h1>

    <table class="table_style2" id="testtab">
        <tr class="tr_style2">
            <th class="th_style2">Fullname: <span id="name"></span></th>
            <th class="th_style2">Phone number:<span id="phonenbr"></span></th>
        </tr>
        <tr class="tr_style2">
            <th class="th_style2">CIN: <span id="cin"></span></th>
            <th class="th_style2">Birthday: <span id="birthday"></span></th>
        </tr>
        <tr class="tr_style2">
            <th class="th_style2">Departement: <span id="dep"></span></th>
            <th class="th_style2">Mail: <span id="mail"></span></th>
        </tr>
        <tr class="tr_style2">
            <th>Link: <span id="link"></span></th>
        </tr>

    </table>

</div>