<div>
    <div class="modal-dialog modal-dialog-centered center_form">
    <div class="modal-content">
        <div class="modal-body">
            <h2 class="login_title">Register</h2>
            <form  class="login_form" [formGroup]="loginForm" (ngSubmit)="login()" >
            <div>
                <p>Username</p>
                <input type="text" formControlName="username" id="email" placeholder="Type your username">
                <div id="wrong-email"></div>
                <p>Password</p>
                <input type="password" id="password" formControlName="password"  placeholder="Type your password">
                <div id="wrong-pass"></div>
                <p>Confirm Password</p>
                <input type="password" id="password" formControlName="password"  placeholder="Type your password">
                <div id="wrong-pass"></div>
            </div>
            <button mat-button [mat-dialog-close]="true">Register</button>
            <div class="d-flex justify-content-center pt-5 ">
                <a href="" class="yassin ">Report a problem</a>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>

