<div class="recentCustomers">
    <div class="cardHeader">
        <h2 style="color:#185ABC" class="hover-underline-animation h2_style2">LeaderBoard</h2>
    </div>

    <table class="table_style2">
        <tr class="tr_style2" id="2">
            <td class="td_style2" width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement dev</span></h4>
            </td>
        </tr>
        <tr class="tr_style2">
            <td class="td_style2" width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement dev</span></h4>
            </td>
        </tr>
        <tr class="tr_style2">
            <td class="td_style2" width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement media</span></h4>
            </td>
        </tr>
        <tr class="tr_style2">
            <td class="td_style2" width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement media</span></h4>
            </td>
        </tr>
        <tr class="tr_style2">
            <td width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement dev</span></h4>
            </td>
        </tr>
        <tr class="tr_style2">
            <td class="td_style2" width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement dev</span></h4>
            </td>
        </tr>
        <tr class="tr_style2">
            <td class="td_style2" width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement media</span></h4>
            </td>
        </tr>
        <tr class="tr_style2">
            <td class="td_style2" width="60px">
                <div class="imgBx"><img src="assets/imgs/anis.jpg" alt=""></div>
            </td>
            <td class="td_style2">
                <h4>Anis <br> <span>Departement media</span></h4>
            </td>
        </tr>


    </table>
</div>