<div class="password_popup">
    <div class="popup_header">
        <h1 class="title_password">Change Your Password:</h1>
        <mat-icon class="close_icon_password" mat-button [mat-dialog-close]="true" >close</mat-icon>
    </div>
    <table class="password_table">
        <tr>
            <td>
                <label for="">Old Password</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">New Password</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password">
            </td>
        </tr>
    </table>
    <div class="center_button">
        <button class="single_button popup_button">Submit</button>
    </div>
</div>