<div class="scorecard_popup"  *ngIf="members!=undefined">
    <div class="popup_header">
        <h1 class="titles">Scorecard:</h1>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true">close</mat-icon>
    </div>
    <form [formGroup]="scoreCard" (ngSubmit)="addMonthScore(member.value)" action="">
        <table class="scorecard_table">
            <tr>
                <td>
                    <label class="label_style" for="">Name</label>
                </td>
                <td>
                    <select id="" #member style="width:100px;">
                        <optgroup>
                            <option *ngFor="let m of members" [value]="m.id" >{{m.name}}</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Media coverage</label>
                </td>
                <td>
                    <input class="scorecard_inputs" formControlName="media" type="number" min="0" max="20">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Disipline</label>
                </td>
                <td>
                    <input class="scorecard_inputs" formControlName="discipline" type="number" min="0" max="20">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Contribution</label>
                </td>
                <td>
                    <input class="scorecard_inputs" formControlName="contribution" type="number" min="0" max="20">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Departement Points</label>
                </td>
                <td>
                    <input class="scorecard_inputs" formControlName="departPoints" type="number" min="0" max="20">
                </td>
            </tr>
        </table>
        <div class="center_button">
            <button type="submit" class="single_button popup_button">Submit</button>
        </div>
    </form>
</div>
