<div class="recentOrders" >
    <div class="cardHeader">
        <h2 class=" h2_style hover-underline-animation" style="color:#185ABC">Recent Tasks</h2>
        <h1 class="h1_style2" style="text-align: center;position: relative;left: -4%;">Departement Media
        </h1>
        <a href="tasks.html" class="a_style btn" style="background: #185ABC;">View All</a>
    </div>

    <table class="table_style2" >
        <thead class="thead_style2">
            <tr class="tr_style2" >
                <td class="td_style2">Task</td>

                <td class="td_style2">Status</td>
            </tr>
        </thead>

        <tbody class="tbody_style2">
            <tr class="tr_style2" *ngFor="let mt of mediaTasks">
                <td class="td_style2">{{mt.title}}</td>

                <td class="td_style2" *ngIf="mt.statue==false"><span class="nstaOK" >Not finished yet</span> <i
                        class="bi bi-x-circle"></i>
                </td>
                <td class="td_style2" *ngIf="mt.statue==true"><span class="nstaOK" >Done</span> <i
                    class="bi bi-check2-circle"></i>
            </td>
            </tr>
        </tbody>
    </table>
    <h1 class="h1_style2"
        style="color:#287bff;font-size:medium;text-align: center;position: relative;top: 10%;">
        Departement Dev</h1>
    <table class="table_style2">
        <thead class="thead_style2">
            <tr class="tr_style2" >
                <td class="td_style2">Task</td>

                <td class="td_style2">Status</td>
            </tr>
        </thead>
        <tbody class="tbody_style2">
            <tr class="tr_style2" *ngFor="let dt of devTasks">
                <td class="td_style2">{{dt.title}}</td>

                <td class="td_style2" *ngIf="dt.statue==false"><span class="nstaOK" >Not finished yet</span> <i
                        class="bi bi-x-circle"></i>
                </td>
                <td class="td_style2" *ngIf="dt.statue==true"><span class="nstaOK" >Done</span> <i
                    class="bi bi-check2-circle"></i>
            </td>
            </tr>
        </tbody>
    </table>
</div>