<div class="delete_popup" *ngIf="event!=undefined">
    <h1 >Are you sure you want to delete this Event ?</h1>
    <div class="delete_popup_buttons">
        <button class="single_button" (click)="deleteEvent()">Yes</button>
        <button  [mat-dialog-close]="true" class="single_button" >No</button>
    </div>
</div>
<div class="delete_popup" *ngIf="task!=undefined">
    <h1 >Are you sure you want to delete this Task ?</h1>
    <div class="delete_popup_buttons">
        <button class="single_button" (click)="deleteTask()">Yes</button>
        <button  [mat-dialog-close]="true" class="single_button" >No</button>
    </div>
</div>