<footer class="contact_footer" >
    <div class="contacts">
        <div class="d-flex  flex-column align-content-center align-items-center" >
            <h2 class="contact_title">Contact US</h2>
            <div class="footer_content">
                <div >
                    <img src="assets/images/isetlogo.png" alt="" class="logo-foot" >
                </div>
                <div class="footer_icons" >
                    <a href=""><img src="../../../../assets/icons/facebook.png" alt="" class="icon"></a>
                    <a href=""><img src="../../../../assets/icons/linkedin.png" alt="" class="icon"></a>
                    <a href=""><img src="../../../../assets/icons/twitter.png" alt="" class="icon"></a>
                </div>
                <div class="footer_list_container" >
                    <ul class="me-3 footer_list">
                        <li>
                            <a class="footer_list_item" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="footer_list_item" href="#about-p">About US</a>
                        </li>
                        <li>
                            <a class="footer_list_item" href="#contact">Contact US</a>
                        </li>
                        <li>
                            <a class="footer_list_item" href="#">Members</a>
                        </li>
                        <li>
                            <a class="footer_list_item" href="#news">News</a>
                        </li>
                    </ul>
                </div>
            </div>
            <h2 class="footer_report"><a href="" class="report_link">Report a problem</a></h2>
        </div>
    </div>
</footer>