<div class="recent_tasks_box">
    <h1 class="titles">Recent Tasks</h1>
    <h2 class="table_title titles">Dev Departement</h2>
    <div class="tasks_container">
        <div class="tasks_header">
            <h2>Task</h2>
            <h2>Task Status</h2>
        </div>
        <ng-container *ngFor="let td of recentDevTasks;index as i;">
            <app-task *ngIf="i<2" [devTask]="td"></app-task>
        </ng-container>
    </div>
    <h2 class="table_title titles">Media Departement</h2>
    <div class="tasks_container">
        <div class="tasks_header">
            <h2>Task</h2>
            <h2>Task Status</h2>
        </div>
        <ng-container *ngFor="let tm of recentMediaTasks;index as i1;">
            <app-task *ngIf="i1<2" [mediaTask]="tm"></app-task>
        </ng-container>
    </div>

</div>