<div id="my-modal1S" class="modalc">
    <div class="modal-contentc" style="color:white;background-color: rgb(25, 31, 50);">
        <form class="form_style2" action="#">
            <div style="display:flex;flex-direction: row-reverse;">
                <span class="material-symbols-outlined close4">&times;</span>
            </div>
            <table class="table_style2 scroll">
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Name</label>
                    </td>
                    <td class="td_style2">
                        <select class="select_style" name="" id="" aria-placeholder="Select a Member"
                            required>
                            <option value="Select a member " selected style=" font-size: 1.5em;">Select a
                                member</option>
                            <option value="Louay Abdelkader">Louay Abdelkader</option>
                            <option value="Yassine Ghzala">Yassine Ghazala</option>
                        </select>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Departement</label>
                    </td>
                    <td class="td_style2">
                        <select class="select_style" name="" id="" aria-placeholder="Select a Member"
                            required>
                            <option value="Select a departement " selected style=" font-size: 1.5em;">Select
                                a departement</option>
                            <option value="Dev">Dev</option>
                            <option value="Media">Media</option>
                        </select>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Media Coverage</label>
                    </td>
                    <td class="td_style2">
                        <input input type="number" required min="0" max="3" step="0.25" placeholder="/3"
                            style="text-align:center;width:100%;" required>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Discipline</label>
                    </td>
                    <td class="td_style2">
                        <input type="number" style="text-align: center;width:100%;" min="0" max="2"
                            step="0.25" placeholder="/2" style="text-align: center;width:100%;" required>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Contribution</label>
                    </td>
                    <td class="td_style2">
                        <input type="input" min="0" max="1" step="0.25" placeholder="/1"
                            style="text-align: center;width:100%;" required>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Departement Points</label>
                    </td>
                    <td class="td_style2">
                        <input type="input" min="0" max="10" step="0.5" placeholder="/10"
                            style="text-align: center;width:100%;" required>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td>
                        <label for="">Improvisation</label>
                    </td>
                    <td class="td_style2">
                        <input type="number" style="text-align: center;width:100%;" min="0" max="2"
                            step="0.25" placeholder="/2" style="text-align: center;width:100%;" required>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Attendance at meetings and actions</label>
                    </td>
                    <td class="td_style2">
                        <input type="number" style="text-align: center;width:100%;" min="0" max="2"
                            step="0.25" placeholder="/2" style="text-align: center;width:100%;" required>
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Month</label>
                    </td>
                    <td class="td_style2">
                        <select class="select_style" name="" id="" aria-placeholder="Select a Month"
                            required>
                            <option value="Select a member " selected style=" font-size: 1.5em;">Select a
                                month</option>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button id="save_modifications" type="submit" class="modal_btn">Save</button>
        </form>
    </div>
</div>