<mat-toolbar class="toolbarstyle">
    <mat-toolbar-row>
        <button (click)="sidenav.toggle();" mat-icon-button>
            <mat-icon class="menu_button" >menu</mat-icon>
        </button>
        <div class="title_and_logo">
            <h1 class="title">Isetch Google Club</h1>
            <img src="../assets/images/Untitled__2_-removebg-preview.png" alt="" class="logo">
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
            <a mat-list-item href="dashboard">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">dashboard</mat-icon>
                    Dashboard
                </div>
            </a>
            <a mat-list-item href="events">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">person</mat-icon>
                    Events
                </div>
            </a>
            <a mat-list-item href="content">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">assignment</mat-icon>
                    Content
                </div>
            </a>
            <a mat-list-item href="tasks">
                <div class="sidebar_item">
                    <mat-icon class="sidebar_icon">playlist_add_check</mat-icon>
                    Tasks
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item" (click)="openScorecardPopup()">
                    <mat-icon class="sidebar_icon" >assessment</mat-icon>
                    Scorecard
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item" (click)="openPasswordPopup()">
                    <mat-icon class="sidebar_icon">https</mat-icon>
                    Password
                </div>
            </a>
            <a mat-list-item>
                <div class="sidebar_item" (click)="openSignoutPopup()">
                    <mat-icon class="sidebar_icon">keyboard_backspace</mat-icon>
                    Sign out
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color:#E8E8E8;">
        <div class="content_page">
            <div class="search_content">
                <h5>Search for Content</h5>
                <div class="search_part">
                    <label for="Dev">Dev</label>
                    <input type="checkbox" name="Dev" id="">
                </div>
                <div class="search_part">
                    <label for="Media">Media</label>
                    <input type="checkbox" name="Media" id="">
                </div>
                <div class="search_part">
                    <label for="Both">Both</label>
                    <input type="checkbox" name="Both" id="">
                </div>
            </div>
            <div class="content_container">
                <h5>Content</h5>
                <app-single-component></app-single-component>
                <app-single-component></app-single-component>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>