/* You can add global styles to this file, and also import other style files */
body{
    font-family:"Poppins", sans-serif;
    margin:0px;
    padding:0px;
    background-color: #E8E8E8;
}
html, body { height: 100%; }
/* You can add global styles to this file, and also import other style files */
body{
    height:100vh;
}
.titles{
    padding:15px;
    color:#185ABC;
}
.logo{
    width:40px;
    height:40px;
    margin-left:15px;
}
.single_button{
    margin: 3px 0 3px 0;
    padding:3px;
    width:100px;
    color:white;
    background-color:#1165e4;
    border:none;
    font-size:13px;
    border-radius: 3px;
}
.popup_button{
    margin-top:15px;
}
.title, .menu_button{
    color:white;
}
.sidenav{
    width:250px;
    background-color:#E8E8E8;
}
.sidebar_item, .title_and_logo{
    display:flex;
    align-items: center;
}
.signout_button{
    margin-top:50px;
}
.sidebar_icon{
    margin-right:25px;
}
.center_button{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.component_buttons{
    display:flex;
    flex-direction: column;
    justify-content: space;
    
}
.component_actions{
    padding-right:25px
}
.main_popup{
    background-color:#E8E8E8;
    min-width:400px;
    max-width:auto;
    min-height:300px;
    max-height:auto;
    padding:25px;
}
.popup_table{
    height:30%;
    width:auto;
    padding:20px;
}
.mat-mdc-dialog-container .mdc-dialog__surface{
    width:300px;
}
.popup_textarea{
    height:150px;
    width:200px;
}
.center_button{
    display: flex;
    justify-content: center;
}

.shared_popup_title{
    font-size:30px;
    padding:10px;
}
.shared_popup_body{
    height:450px;
    width:300px;
    padding:25px;
    background-color:#E8E8E8;
    scroll-behavior: none;
}
.shared_form_parts, .shared_form_parts_wtextarea{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.shared_form_parts{
    height:60px;
}
.shared_form_parts_wtextarea{
    height:120px;
}
.shared_form_button{
    margin-top:20px;
}


.pages_content{
    display:grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "button_area"
    "label_area"
    "compoenet_area"
    ;
    height:100vh;
    background-color:#E8E8E8;
}
.button_area{
    grid-area: button_area;
    padding:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:90vw;
    max-width:auto;
}
.component_label_area{
    grid-area: label_area;
}
.component_label_area h2{
    font-size:20px;
    padding:20px;
    margin-left:15px;
    
}
.compoenent_area{
    grid-area: component_area;
    padding:7rem;

    min-width:90vw;
    max-width:auto;
}
.close_icon{
    margin-top:-105px;
    margin-right:-25px;
}
.popup_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.popup_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 320px){
    .component_label_area h2{
        font-size:15px;
        padding:10px;
        margin-left:15px;
        
    }
}

@media screen and (max-width: 426px){
    .single_button{
        width:50px;
    }
    .mat-drawer-content{
        display:inline;
    }
    .component_label_area{
        grid-area: label_area;
        display:flex;
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        min-width:90vw;
        max-width:auto;
    }
    .component_label_area h2{
        font-size:15px;
        padding:10px;
        margin-left:15px;
        
    }
}
@media screen and (max-width: 1444px){
    .mat-drawer-content{
        display:inline;
    }
}
@media screen and (max-width: 1025px){
    .mat-drawer-content{
        display:inline;
    }
}