<div class="applicationpage_container">
    <header class="application_header">
        <img src="../../../assets/images/Untitled__2_-removebg-preview.png" alt="">
        <h4>Isetch Google Club Membership Application</h4>
    </header>
    <section class="application_section">
        <div class="application_container">
            <h4>Application From</h4>
            <p>Make sure to answer all the questions and to provide your personal email.</p>
            <form action="" style="height:100%;">
                <table style="height:100%;">
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">Name</label>
                        </td>
                        <td>
                            <input class="input_style" type="text" placeholder="Type your name" required>
                        </td>
                    </tr>
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">Last name</label>
                        </td>
                        <td>
                            <input class="input_style" type="text" placeholder="Type your last name" required>
                        </td>
                    </tr>
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">Email</label>
                        </td>
                        <td>
                            <input class="input_style" type="email" placeholder="Type your email" required>
                        </td>
                    </tr>
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">What department do you want to join ?</label>
                        </td>
                        <td>
                            <select name="" id="" class="select_style">
                                <optgroup>
                                    <option value="">Dev</option>
                                    <option value="">Media</option>
                                    <option value="">Both</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">what Department are you studying ?</label>
                        </td>
                        <td>
                            <select name="" id="" class="select_style" >
                                <optgroup >
                                    <option value="">TI</option>
                                    <option value="">SEG</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">why do you want to join Google Club</label>
                        </td>
                        <td>
                            <textarea class="textarea_style" name="" id=""></textarea>
                        </td>
                    </tr>
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">what are your skills ?</label>
                        </td>
                        <td>
                            <input class="input_style_long" type="text" placeholder="">
                        </td>
                    </tr>
                    <tr class="tr_style">
                        <td>
                            <label class="label_style" for="">have you been part of a club or a community before ?</label>
                        </td>
                        <td>
                            <input class="input_style_long" type="text" placeholder="">
                        </td>
                    </tr>
                </table>
                <div class="application_buttons_container ">
                    <button type="submit" class="application_button">Submit !</button>
                    <button class="application_button">
                        <a href="" class="home_button_style">
                            Go Home
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>