<div id="myModal_add" class="modala">
    <div class="modal-contenta">
        <form action="#">
            <span class="material-symbols-outlined close5">&times;</span>
            <table class="table_style2 scroll">
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Member Fullname</label>
                    </td>
                    <td class="td_style2">
                        <input type="text">
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">CIN</label>
                    </td>
                    <td class="td_style2">
                        <input type="tel" maxlength="8">
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Phone number</label>
                    </td>
                    <td class="td_style2">
                        <input type="tel">
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Birthday</label>
                    </td>
                    <td class="td_style2">
                        <input type="date">
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Departement</label>
                    </td>
                    <td class="td_style2">
                        <input type="text">
                    </td>
                </tr>
                <tr class="tr_style2">
                    <td class="td_style2">
                        <label for="">Mail</label>
                    </td>
                    <td class="td_style2">
                        <input type="mail">
                    </td>
                </tr>
            </table>
            <button id="save_modifications" class="button_style modal_btn">Save</button>
        </form>
    </div>
</div>