<div class="details_popup" *ngIf="event!=undefined">
    <div class="popup_header">
        <h2 class="shared_popup_title">Details:</h2>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true" style="margin-top:-85px">close</mat-icon>
    </div>
    {{event.description}}
</div>
<div class="details_popup" *ngIf="task!=undefined">
    <div class="popup_header">
        <h2 class="shared_popup_title">Details:</h2>
        <mat-icon class="close_icon" mat-button [mat-dialog-close]="true" style="margin-top:-85px">close</mat-icon>
    </div>
    {{task.description}}
</div>
